header{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.weather{
    width: 33%;
    color: var(--content-color);
}

.date{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.date__clock{
    font-size: 65px;
    font-weight: bold;
}
.date__today{
    font-size: 25px;
}

.user{
    width: 33%;
    display: flex;
    justify-content: flex-end;
}
.user__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width:25px; height: 25px;
    margin-right:3px;
}

.user__name{
    font-weight: 500;
}